In [1]:
import pandas as pd
import numpy as np
file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)
purchase_df=pd.DataFrame(purchase_data)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
count = purchase_df["SN"].unique()
Player_count = len(count)
Player_count

576

In [3]:
Total_Players = {"Total Players":Player_count}
Total_Players_df = pd.DataFrame(Total_Players, index=[0])
Total_Players_df

   Total Players
0            576

In [4]:
items = purchase_df["Item Name"].unique()
Unique_items = len(items)
Unique_items

179

In [5]:
average = purchase_df["Price"].mean()
# average
average_currency = "${:,.2f}".format(average)
average_currency

'$3.05'

In [6]:
num_purchases = purchase_df["Item Name"].count()
num_purchases

780

In [7]:
revenue = purchase_df["Price"].sum()
# revenue
Total_Revenue = "${:,.2f}".format(revenue)
Total_Revenue

'$2,379.77'

In [8]:
Purchasing_Analysis = {"Number of Unique Items":Unique_items,
                      "Average Price":average_currency,
                      "Number of Purchases":num_purchases,
                      "Total Revenue":Total_Revenue}
Purchasing_Analysis_df = pd.DataFrame(Purchasing_Analysis, index=[0])
Purchasing_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [9]:
male_count = purchase_df.loc[(purchase_df["Gender"] == "Male"), :]
# male
female_count = purchase_df.loc[(purchase_df["Gender"] == "Female"), :]
# female
other_count = purchase_df.loc[(purchase_df["Gender"] == "Other / Non-Disclosed"), :]
# other

In [10]:
total_male = len(male_count["SN"].unique())
# total_male
total_female = len(female_count["SN"].unique())
# total_female
total_other = len(other_count["SN"].unique())
# total_other

In [11]:
percent_male = (total_male/Player_count)*100
percent_male_round = round(percent_male,2)
percent_male_round

84.03

In [12]:
percent_female = (total_female/Player_count)*100
percent_female_round = round(percent_female,2)
percent_female_round

14.06

In [13]:
percent_other = (total_other/Player_count)*100
percent_other_round = round(percent_other,2)
percent_other_round

1.91

In [14]:
total_gender = [total_male, total_female, total_other]
total_percent = [percent_male_round, percent_female_round, percent_other_round]

In [15]:
genders_df = pd.DataFrame(purchase_df.groupby("Gender").sum())
genders_df["Total Count"] = total_gender
genders_df["Percentage of Players"] = total_percent
genders_df["Percentage of Players"] = genders_df["Percentage of Players"].map("{:,.2f}%".format)
genders_df = genders_df[["Total Count","Percentage of Players"]]
genders_df

                       Total Count Percentage of Players
Gender
Female                         484                84.03%
Male                            81                14.06%
Other / Non-Disclosed           11                 1.91%

In [16]:
male_purchase= male_count["Purchase ID"].count()
# male_purchase
female_purchase = female_count["Purchase ID"].count()
# female_purchase
other_purchase = other_count["Purchase ID"].count()
# other_purchase

In [17]:
purchase_male = male_count["Price"].sum()
# purchase_male
purchase_female = female_count["Price"].sum()
# purchase_female
purchase_other = other_count["Price"].sum()
# purchase_other

In [18]:
average_male = purchase_male / total_male
# average_male
average_male_round = round(average_male,2)
# average_male_round

In [19]:
average_female = purchase_female / total_female
# average_female
average_female_round = round(average_female,2)
average_female_round

4.47

In [20]:
average_other = purchase_other / total_other
# average_other
average_other_round = round(average_other,2)
average_other_round

4.56

In [21]:
avg_male = male_count["Price"].mean()
# avg_male
avg_male_round = round(avg_male,2)
avg_male_round

3.02

In [22]:
avg_female = female_count["Price"].mean()
# avg_female
avg_female_round = round(avg_female,3)
avg_female_round

3.203

In [23]:
avg_other = other_count["Price"].mean()
# avg_other
avg_other_round = round(avg_other,2)
avg_other_round

3.35

In [24]:
Purchase_Count = [female_purchase, male_purchase, other_purchase]
Total_Purchase = [purchase_female, purchase_male, purchase_other]
Average_per = [average_female, average_male, average_other]
Average_Purchase_Price = [avg_female_round, avg_male_round, avg_other_round]

In [25]:
purchasing_analysis = pd.DataFrame(purchase_df.groupby("Gender").mean())
purchasing_analysis["Purchase Count"] = Purchase_Count
purchasing_analysis["Average Purchase Price"] = Average_Purchase_Price
purchasing_analysis["Total Purchase Value"] = Total_Purchase
purchasing_analysis["Avg Total Purchase per Person"] = Average_per
purchasing_analysis = purchasing_analysis[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203,361.94,4.468395
Male,652,3.020,1967.64,4.065372
Other / Non-Disclosed,15,3.350,50.19,4.562727

In [26]:
# purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
# purchasing_analysis["Total Purchase Value"] = purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
# purchasing_analysis["Avg Total Purchase per Person"] = purchasing_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203,361.94,4.468395
Male,652,3.020,1967.64,4.065372
Other / Non-Disclosed,15,3.350,50.19,4.562727

In [27]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_df["Total Count"] = pd.cut(purchase_df["Age"], bins, labels=group_names)
age_demo = purchase_df[['Total Count','SN']].drop_duplicates(subset = 'SN')
age_demo

    Total Count             SN
0         20-24        Lisim78
1           40+    Lisovynya38
2         20-24     Ithergue48
3         20-24  Chamassasya86
4         20-24      Iskosia90
..          ...            ...
773       20-24         Hala31
774       10-14     Jiskjask80
775       20-24     Aethedru70
777       20-24     Yathecal72
778         <10        Sisur91

[576 rows x 2 columns]

In [28]:
age_demo1 = age_demo.groupby("Total Count").count()
total_age = age_demo1['SN']
total_age

Total Count
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [29]:
age_percent = (total_age / Player_count) * 100
# age_percent
age_percent_round = round(age_percent,2)
age_percent_round

Total Count
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40+       2.08
Name: SN, dtype: float64

In [30]:
Age_Demo2 = pd.DataFrame([total_age, age_percent_round])
# Age_Demo2
Age_Demographic = Age_Demo2.transpose()
Age_Demographic.columns = ['Total Count', 'Percentage of Players']
Age_Demographic.head()

             Total Count  Percentage of Players
Total Count
<10                 17.0                   2.95
10-14               22.0                   3.82
15-19              107.0                  18.58
20-24              258.0                  44.79
25-29               77.0                  13.37

In [32]:
purchase_df["Total Count"] = pd.cut(purchase_df["Age"], bins, labels = group_names)
age_analysis1 = purchase_df[['Total Count','SN', 'Price']]

In [33]:
age_analysis2 = age_analysis1.groupby("Total Count")
Purchase_Counts = age_analysis2["Price"].count()

In [34]:
average_count = age_analysis2["Price"].mean()

In [35]:
total_purch = age_analysis2["Price"].sum()

In [36]:
purchases_per = total_purch/total_age

In [40]:
Age_Analysis_df = pd.DataFrame([Purchase_Counts, average_count, total_purch, purchases_per])
Age_Analysis_df

Total Count,<10,10-14,15-19,20-24,25-29,30-34,35-39,40+
Price,23.000000,28.000000,136.000000,365.000000,101.000000,73.000000,41.000000,13.000000
Price,3.353478,2.956429,3.035956,3.052219,2.900990,2.931507,3.601707,2.941538
Price,77.130000,82.780000,412.890000,1114.060000,293.000000,214.000000,147.670000,38.240000
Unnamed 0,4.537059,3.762727,3.858785,4.318062,3.805195,4.115385,4.763548,3.186667

In [49]:
Age_Analysis_df2 = Age_Analysis_df.transpose()
Age_Analysis_df2.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
Age_Analysis_df2["Average Purchase Price"] = Age_Analysis_df2["Average Purchase Price"].map("${:,.2f}".format)
Age_Analysis_df2["Total Purchase Value"] = Age_Analysis_df2["Total Purchase Value"].map("${:,.2f}".format)
Age_Analysis_df2["Avg Total Purchase per Person"] = Age_Analysis_df2["Avg Total Purchase per Person"].map("${:,.2f}".format)
Age_Analysis_df2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Total Count,,,,
<10,23.0,$3.35,$77.13,$4.54
10-14,28.0,$2.96,$82.78,$3.76
15-19,136.0,$3.04,$412.89,$3.86
20-24,365.0,$3.05,"$1,114.06",$4.32
25-29,101.0,$2.90,$293.00,$3.81
30-34,73.0,$2.93,$214.00,$4.12
35-39,41.0,$3.60,$147.67,$4.76
40+,13.0,$2.94,$38.24,$3.19